{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% autoescape off %}
        {{ content }}
    {% endautoescape %}
    <div class="row" id="description">
        {% autoescape off %}
            {{ description }}
        {% endautoescape %}
    </div>

{% endblock %}


{% block css %}
    #description {
        text-align: center;
        padding: 5px;
        font-size: 1em;
        background: #edeff1;
        border-radius: 4px;
        position: static;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    {% autoescape off %}
    {{ style }}
    {% endautoescape %}
{% endblock %}

